.moviesCardList {
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 20px;
  padding-top: 70px;
  padding-bottom: 80px;
}

.moviesCardList__item {
  list-style-type: none;
}

.moviesCardList_type_savedMovies {
  padding-bottom: 170px;
}

@media (max-width: 1279px) {
  .moviesCardList {
    max-width: 560px;
  }
}

@media (max-width: 767px) {
  .moviesCardList {
    max-width: 339px;
    gap: 36px 30px;
  }
}

@media (max-width: 480px) {
  .moviesCardList {
    max-width: 297px;
  }
}

@media (max-width: 320px) {
  .moviesCardList {
    padding-top: 40px;
    gap: 20px;
  }
}
