.profile {
}

.profile__title {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 120px;
}

.profile__inputs-container {
  max-width: 410px;
  margin: 0 auto;
}

.profile__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.profile__input-text {
  color: #000000;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  margin: 0;
}

.profile__input {
  border: none;
  text-align: right;
  color: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  box-shadow: 0 0 0 1px #e8e8e8;
  border-radius: 3px;
}

.profile__input:focus {
  border-radius: 3px;
  outline: 2px solid #e8e8e8;
  box-shadow: 0 0 5px rgba(255, 104, 56, 0.5);
}

.profile__line {
  border: 1px solid #e8e8e8;
  margin-bottom: 14px;
}

.profile__input::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
}

.profile__links-container {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__submit-container {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__edit-button {
  border: none;
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  cursor: pointer;
}

.profile__out-button {
  border: none;
  background-color: transparent;
  color: #ff004d;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  margin-top: 16px;
  cursor: pointer;
}

.profile__save-button {
  border: none;
  border-radius: 3px;
  background-color: #3456f3;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  cursor: pointer;
  width: 410px;
  height: 45px;
}

.profile__save-button.disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: not-allowed;
}

.profile__edit-button:hover {
  opacity: 0.8;
  transition: opacity 1s linear 0.5s;
}

.profile__out-button:hover {
  opacity: 0.8;
  transition: opacity 1s linear 0.5s;
}

.profile__save-button:hover {
  opacity: 0.8;
  transition: opacity 1s linear 0.5s;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 34px;
}

.error-message {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  padding-top: 7px;
}

.profile-error-server-message {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  text-align: center;
  padding-top: 180px;
}

.fieldset-for-change-avatar-error {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 202px;
}

.profile__save-message {
  color: #2be080;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  text-align: center;
  padding-top: 180px;
}

@media (max-width: 768px) {
  .profile__title {
    margin-top: 236px;
    margin-bottom: 97px;
  }
  .profile__input-container {
    width: 412px;
  }
  .profile__line {
    margin-bottom: 17px;
  }
  .fieldset-for-change-avatar-error {
    min-height: 183px;
  }
  .profile-error-server-message {
    padding-top: 165px;
  }
  .profile__save-message {
    padding-top: 165px;
  }
}

@media (max-width: 425px) {
  .profile__title {
    margin-top: 70px;
    margin-bottom: 79px;
  }
  .profile__inputs-container {
    max-width: 260px;
  }
  .profile__input-container {
    width: 262px;
  }
  .fieldset-for-change-avatar-error {
    min-height: 353px;
  }
  .profile__save-button {
    font-size: 12px;
    line-height: 14.52px;
    width: 260px;
  }
  .profile__edit-button {
    font-size: 12px;
    line-height: 14.52px;
  }
  .profile__out-button {
    font-size: 12px;
    line-height: 14.52px;
  }
  .profile-error-server-message {
    padding-top: 335px;
  }
  .profile__save-message {
    padding-top: 335px;
  }
}
