.searchForm {
  margin: 0 auto;
  max-width: 1140px;
}

.searchForm__input-container {
  position: relative;
}

.searchForm__input {
  margin-top: 60px;
  width: 100%;
  min-height: 46px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 40px;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  outline: 1px solid #e8e8e8;
}

.searchForm__input:focus {
  outline: 2px solid #e8e8e8;
  box-shadow: 0 0 5px rgba(255, 104, 56, 0.5);
}

.searchForm__input::placeholder {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  padding-left: 22px;
}

.filterCheckbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 26px;
  margin-bottom: 55px;
}

.filterCheckbox-text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.searchForm__line {
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
}

.searchForm__validation-error {
  color: #ee3465;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0 0 0;
  position: absolute;
  left: 467px;
}

@media (max-width: 1170px) {
  .searchForm {
    max-width: 706px;
  }
  .searchForm__validation-error {
    left: 254px;
  }
}

@media (max-width: 768px) {
  .searchForm__input {
    margin-top: 80px;
  }
  .filterCheckbox-container {
    margin-bottom: 38px;
  }
}

@media (max-width: 730px) {
  .searchForm {
    max-width: 292px;
  }
  .searchForm__validation-error {
    left: 63px;
    min-width: 220px;
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .searchForm__input {
    font-size: 11px;
  }
  .searchForm__input::placeholder {
    font-size: 11px;
  }
  .filterCheckbox-container {
    margin-top: 31px;
  }
  .filterCheckbox-text {
    font-size: 11px;
  }
}
