.techs {
  background-color: #f5f5f5;
}

.techs__container {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__title-container {
  padding-top: 102px;
}

.techs__title {
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.7px;
  margin: 0 0 23px 0;
}

.techs__line {
  border: 1px solid #000000;
}

.techs__description {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__description-title {
  color: #000000;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -1.7px;
  margin: 0;
}

.techs__description-text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6px;
  margin: 26px 0 0 0;
  max-width: 456px;
  text-align: center;
}

.techs_icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.techs_icon-container {
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techs_icon {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.6px;
  margin: 0;
}

@media (max-width: 768px) {
  .techs__container {
    max-width: 668px;
  }
  .techs__title {
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }
  .techs__title-container {
    padding-top: 90px;
  }
  .techs__description {
    margin-top: 80px;
  }
  .techs__description-title {
    letter-spacing: -2px;
  }
  .techs__description-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
    letter-spacing: -0.5px;
  }
  .techs_icons {
    margin-top: 84px;
    padding-bottom: 89px;
  }
  .techs_icon-container {
    width: 84px;
    height: 57px;
  }
  .techs_icon {
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 320px) {
  .techs {
    background-color: #ffffff;
  }
  .techs__container {
    max-width: 284px;
  }
  .techs__title-container {
    padding-top: 70px;
  }
  .techs__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -0.7px;
    margin-bottom: 26px;
  }
  .techs__description {
    margin-top: 60px;
  }
  .techs__description-title {
    font-size: 30px;
    line-height: 36.31px;
    letter-spacing: -1.2px;
  }
  .techs__description-text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
    letter-spacing: -0.4px;
  }
  .techs_icons {
    justify-content: start;
    flex-wrap: wrap;
    max-width: 178px;
    margin: 0 auto;
    padding-top: 50px;
  }
}
