.login {
  margin: 0 auto;
  max-width: 398px;
  padding-top: 70px;
}

.login__title {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  padding-top: 37px;
  margin: 0;
}

.login__form {
  padding-top: 40px;
}

.login__form-input-name {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  margin: 0;
  padding-bottom: 10px;
}

.fieldset-login {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 66px;
}

.login__form-email-input {
  width: 100%;
  min-height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  outline: 1px solid #e8e8e8;
}

.login__form-email-input:focus {
  outline: 2px solid #e8e8e8;
  box-shadow: 0 0 5px rgba(255, 104, 56, 0.5);
}

.login__form-email-input::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  padding-left: 15px;
}

.login__form-password-input {
  width: 100%;
  min-height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  outline: 1px solid #e8e8e8;
}

.login__form-password-input:focus {
  outline: 2px solid #e8e8e8;
  box-shadow: 0 0 5px rgba(255, 104, 56, 0.5);
}

.login__form-password-input::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  padding-left: 15px;
}

.login__form-submit {
  border: none;
  border-radius: 3px;
  background-color: #ff6838;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  cursor: pointer;
  width: 396px;
  height: 45px;
}

.login__form-submit:hover {
  opacity: 0.8;
  transition: opacity 1s linear 0.5s;
}

.login__form-submit.disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: not-allowed;
}

.login__ask-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.login__ask-container-text {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
  padding-right: 6px;
}

.login__ask-container-link {
  color: #ff6838;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-decoration: none;
}

.login__ask-container-link:hover {
  opacity: 0.7;
  transition: opacity 1s linear 0.5s;
}

.error-message-login {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  padding-top: 7px;
}

.error-server-message-login {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  text-align: center;
  padding-top: 138px;
}

.fieldset-for-submit-login-error {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 158px;
}

@media (max-width: 768px) {
  .login {
    padding-top: 232px;
    max-width: 396px;
  }
}

@media (max-width: 420px) {
  .login {
    max-width: 260px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login__title {
    padding-top: 47px;
  }
  .login__form {
    width: 100%;
    padding-top: 80px;
  }
  .login__form-email-input {
    padding-left: 0;
  }
  .login__form-email-input::placeholder {
    padding-left: 15px;
  }
  .login__form-password-input {
    padding-left: 0;
  }
  .login__form-password-input::placeholder {
    padding-left: 15px;
  }
  .login__form-submit {
    font-size: 12px;
    line-height: 14.52px;
    width: 260px;
  }
  .login__ask-container {
    padding-top: 14px;
    margin-left: 0;
  }
  .login__ask-container-text {
    font-size: 12px;
    line-height: 14.52px;
    padding-right: 8px;
  }
  .login__ask-container-link {
    font-size: 12px;
    line-height: 14.52px;
  }
  .fieldset-for-submit-login-error {
    min-height: 247px;
  }
  .error-server-message-login {
    padding-top: 227px;
  }
}
